/* GetPay Preloader Styles */

#getpay-preloader {
    backdrop-filter: blur(5px);
    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgba(255, 255, 255, 0.9);

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 9999;

    font-size: 20px;

    font-family: sans-serif;

    flex-direction: column;

}



.spinner {

    width: 50px;

    height: 50px;

    border: 5px solid #ccc;

    border-top: 5px solid #5662FF;

    border-radius: 50%;

    animation: spin 1s linear infinite;

    margin-bottom: 15px;

}



.getpay-logo {

    width: 140px;

    height: 40px;

    margin: 10px 0;

}



#loading-text {

    color: #333;

    font-weight: normal;

}



/* Spinner animation */

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}